@import "tailwindcss/base";
@import "tailwindcss/components";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Domaine Display", sans-serif;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-clouds {
  animation: clouds 500s linear;
  transform: translateX(-2000px);
}
.animate-clouds-1 {
  animation: clouds1 500s linear infinite;
  transform: translate(-100%);
  animation-delay: 250s;
}
.animate-clouds-2 {
  animation: clouds2 500s linear infinite;
  transform: translate(-100%);
  animation-delay: 500s;
}

.shim {
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 255, 0, 0.7);
}
.shim::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(233, 233, 233, 1) 0,
    rgba(233, 233, 233, 0.9) 50%,
    rgba(233, 233, 233, 0.8) 100%
  );
  animation: shimmer 2s ease-out infinite;
  content: "";
}

@keyframes clouds {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes clouds1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes clouds2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes shimmer {
  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}

@import "tailwindcss/utilities";
